<mat-card class="user-detail-header">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="menuUser">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuUser="matMenu">
        <button mat-menu-item (click)="editUserMenu()">Edit</button>
        
      </mat-menu>
<img src="./assets/img/1.webp">

<div class="user-details">
<h2>{{ user['firstName'] + ' ' + user['lastName'] }}</h2>
<p>{{ user.email }}</p>

</div>
</mat-card>

<mat-card class="mt-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="menuAddress">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuAddress="matMenu">
        <button mat-menu-item (click)="editAdressMenu()">Edit</button>
        
      </mat-menu>


<mat-card-title>Address</mat-card-title>


<mat-card-content>
{{ user.street }} <br>
{{ user.zipCode + ' '+ user.city }}
    
</mat-card-content>




</mat-card>
  
